# **BootCamp DS - 20243**
## **Actividad 5**
### **Presentado por:** Diego Chávez

### Contexto: 
En esta actividad veremos el cargue de la base de datos que he venido trabajando, a postgreSQL en localhost, adicional se ejecutan 3 consultas básicas con la finalidad de probar la conexión. Además, se siguen buenas prácticas compartidas en el curso, agregar credenciales en un .env para mantener la privacidad y seguridad de los datos.

In [3]:
# Importamos librerías
import os
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import psycopg2

In [4]:
# Cargamos las variables de conexión almacenadas en el .env e imprimimos algunas para ver su funcionalidad
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
EXCEL_FILE_PATH = os.getenv("EXCEL_FILE_PATH")
TABLE_NAME = os.getenv("TABLE_NAME")

if DB_PORT is not None:
    DB_PORT = int(DB_PORT)
    
print("DB user: ", DB_USER, "Puerto: ", DB_PORT, "DB name: ", DB_NAME)

DB user:  postgres Puerto:  5432 DB name:  bdVentasRayo

In [5]:
#creamos la conexión con los parámetros a la BD
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [6]:
#leemos el archivo con pandas
df = pd.read_excel(EXCEL_FILE_PATH)

In [7]:
# vemos sus columnas
df.columns

Index(['tipo', 'numero_documento', 'referido_por', 'estado_desembolso',
       'desembolso_realizado_contabilidad', 'nombre_completo',
       'fecha_formalizacion', 'fecha_deposito', 'salario_reportado',
       'codigo_prestamo', 'monto_bruto_prestado', 'listo_para_desembolso',
       'plazo', 'status_inicial', 'desembolso_realizado', 'tecnologia',
       'administracion_monto', 'iva', 'intereses', 'total_pagar_despues',
       'total_pagar_con_tyc', 'sumatoria_intereses_mora',
       'saldo_con_intereses_mora', 'total_pagar_con_gac', 'tipo_cuenta',
       'banco', 'ejecutivo', 'prestamos_firmados', 'fecha_creacion',
       'estado_prestamo', 'fecha_procesamiento', 'fecha_hora_procesamiento',
       'venta_ejecutivo', 'fianza_iva', 'tasa_interes', 'tasa_mora'],
      dtype='object')

In [8]:
# definimos la estrucctura que tendrá nuestra tabla
columnas_sql = """
CREATE TABLE IF NOT EXISTS tb_prestamos (
    tipo VARCHAR(50),
    numero_documento VARCHAR(20),
    referido_por VARCHAR(120),
    estado_desembolso VARCHAR(50),
    desembolso_realizado_contabilidad BOOLEAN,
    nombre_completo VARCHAR(255),
    fecha_formalizacion DATE,
    fecha_deposito DATE,
    salario_reportado NUMERIC(15,2),
    codigo_prestamo VARCHAR(50) PRIMARY KEY,
    monto_bruto_prestado NUMERIC(15,2),
    listo_para_desembolso BOOLEAN,
    plazo VARCHAR(20),
    status_inicial VARCHAR(50),
    desembolso_realizado BOOLEAN,
    tecnologia NUMERIC(15,2),
    administracion_monto NUMERIC(15,2),
    iva NUMERIC(15,2),
    intereses NUMERIC(15,2),
    total_pagar_despues NUMERIC(15,2),
    total_pagar_con_tyc NUMERIC(15,2),
    sumatoria_intereses_mora NUMERIC(15,2),
    saldo_con_intereses_mora NUMERIC(15,2),
    total_pagar_con_gac NUMERIC(15,2),
    tipo_cuenta VARCHAR(50),
    banco VARCHAR(100),
    ejecutivo VARCHAR(100),
    prestamos_firmados INT,
    fecha_creacion DATE,
    estado_prestamo VARCHAR(50),
    fecha_procesamiento DATE,
    fecha_hora_procesamiento TIMESTAMP,
    venta_ejecutivo VARCHAR(50),
    fianza_iva NUMERIC(15,2),
    tasa_interes NUMERIC(5,2),
    tasa_mora NUMERIC(5,2)
);
""".format(TABLE_NAME)

In [9]:
# creamos la conexión y cargamos los datos del df a la base, si existe los reemplazamos
with engine.begin() as conn:
    conn.execute(text(columnas_sql))


df.to_sql(TABLE_NAME, engine, if_exists="replace", index=False)


print(f"La tabla '{TABLE_NAME}' ha sido creada y los datos fueron insertados.")

La tabla 'tb_ventas' ha sido creada y los datos fueron insertados.

In [10]:
# Creamos nuestras tres consultas con el objeto conn
print("------- Primer Consulta -------")
conn = engine.connect()
result = conn.execute(text("SELECT * FROM tb_ventas LIMIT 1"))
for row in result:
    print(row)

print("------- Segunda Consulta -------")
count_result = conn.execute(text("SELECT COUNT(*) FROM tb_ventas"))
print(f"Total de registros: {count_result.scalar()}")

print("------- Tercera Consulta -------")
result_2 = conn.execute(text("SELECT SUM(monto_bruto_prestado) FROM tb_ventas WHERE tipo = 'PLP' "))
total_ventas = result_2.scalar()
print(f"Total de ventas: {total_ventas}")

conn.close()  # Cierra la conexión manualmente

------- Primer Consulta -------
('MINI', '8505346', '0', 'Desembolso Rechazado', 0, 'Jose Luis Ardila', datetime.datetime(2024, 6, 14, 0, 0), datetime.datetime(2024, 6, 14, 0, 0), 2317399.92, 'O-295356', 150000, 0, '15 días', 'Aprobado', 0, 35250.0, 0, 6697.5, 1658.0, 193605.5, 202530.5, 0.0, 193605.5, 193605.5, 'Cuenta de Ahorros', 'BANCOLOMBIA', None, 3.0, datetime.datetime(2024, 6, 14, 0, 0), 'Rechazado', datetime.datetime(2024, 6, 14, 0, 0), datetime.datetime(2024, 6, 14, 16, 18), None, 8925.0, 0.3083, 0.3083)
------- Segunda Consulta -------
Total de registros: 315472
------- Tercera Consulta -------
Total de ventas: 2380850008